/* Table of Contents

1. Elements
2. Color
3. Components
    Header Component
    Main Component
    Footer Component
    Button Component
    Base Component
4. Media Queries
5. Animations
 */

/* 1. Elements */

body {
  margin: 0;
  padding: 20;
  font-family: "QuattrocentoSans", "Arial", "san serif";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 2. Color */

i {
  color: #2EC4B6;
}

.navybg {
  background-color: #011627;
}

.redtxt {
  color: #FF0021;
}

.tealbg {
  background-color: #2EC4B6;
}

.tealtxt {
  color: #2EC4B6;
}

.whitetxt {
  color: #FDFFFC;
}

.bluetxt {
  color: #3F94FF;
}

/* 3. Components */

/* Header Component */

.main-head {
  grid-area: header;
  height: auto;
}

.logo {
  background-color: #f8d978;
  height: 100px;
  width: 200px;
  /* margin: 2vh; */
  position: relative;
  left: 25px;
  top: 20px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.main-head .contact-group li {
  grid-area: li;
  margin: 20px;
  /* width: 200px; */
}

.contact-group {
  display: flex;
  position: relative;
  top: -14vh;
  margin-right: 5%;
  float: right;
}

.contact-logo {
  margin-right: 2vw;
}

.contact {
  display: inline-grid;
}

/* Main Content Component */

.banner {
  grid-area: main;
}

.banner-img {
  height: 90vh;
  width: 100%;
  background: url('images/lady-pointing.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  margin: 0;
  /* -webkit-clip-path: polygon(0 0, 100% 0%, 100% 57%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 57%, 0% 100%); */
}

.content {
  grid-area: main;
}

.content ul li {
  padding: 2.5vw;
  margin: 1.5em;
  width: 10vw;
}

.content ul li i {
  position: relative;
  left: 3vw;
  margin-left: 36%;
}

.content ul li h2 {
  text-align: center;
}

.content ul li div {
  /* height: auto; */
  width: 12vw;
  position: relative;
  z-index: -1;
  /* -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
}

/* extra nudge left, not sure why off so much */

.extra-left {
  position: relative;
  left: 0.3vw !important;
}

/* Navigation Component */

.main-nav {
  grid-area: nav;
  display: inline-flex;
}

.main-nav ul {
  margin-left: auto;
  margin-right: auto;
}

.main-nav li {
  margin: 0 6vw;
  display: inline;
}

/* Footer Component */

.main-footer {
  grid-area: footer;
  height: 250px;
  margin-top: 60vh;
  -webkit-clip-path: polygon(0% 57%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
}

.logo-group {
  padding: 3em;
  float: right;
  margin-top: 3em;
}

.social {
  margin: 2vw;
}

/* Button Component */

button {
  margin-left: 2%;
}

.button-opaque {
  background-color: #2EC4B6;
  border-radius: 0px;
  padding: 8px 20px;
  margin: 10px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px #000000;
  font-size: 24pt;
  transition: all .2s ease-in-out;
  border: 1px solid #011627;
}

.button-opaque:hover {
  background-color: #ffffff;
  color: #F8DC3A;
  transform: scale(1.1);
}

.button-transparent {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 8px 20px;
  margin: 10px;
  color: #000000;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 0px #000000;
  font-size: 24pt;
  transition: all .2s ease-in-out;
}

.button-transparent:hover {
  background-color: #000000;
  transform: scale(1.1);
  color: white;
}

.cover-banner {
  position: relative;
  top: -75vh;
  left: 4vw;
}

.wrapper-2 {
  position: relative;
  top: 72vh;
  margin: 13vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  color: #444;
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 14pt;
  border: 1px solid grey;
  transition: all .2s ease-in-out;
  box-shadow: 2px 0 2px 2px;
  text-align: center;
}

.box:hover {
  transform: scale(1.1);
}

.box .box {
  background-color: #ccc;
  color: #444;
}

.a {
  grid-column: col 1/ span 2;
  grid-row: row;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.c {
  grid-column: col 1 / span 2;
  grid-row: row 2;
}

.d {
  grid-column: col 3 / span 2;
  grid-row: row 2;
}

/* Base Component */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "header header" "nav nav" "main  main" "main main" "footer footer";
}

/* 4. Media Queries */

/* getting the header just right */

@media screen and (max-width: 500px) {
  .main-head .wrapper {
    display: grid;
    grid-gap: 20px 0;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  nav ul li {
    display: flex;
    justify-content: left;
  }

  .main-head .logo {
    left: 25%;
  }
  .contact-group {
    display: flex;
    top: 0;
    margin-right: 0;
  }

  .button-group {
    position: relative;
    left: 5%;
  }

  .banner-text {
    left: 11%;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .main-nav ul {
    position: relative;
    left: -4vw;
  }
  .main-head .logo {
    position: relative;
    left: 28%;
    margin: 2vh;
  }
  .contact-group {
    position: relative;
    top: -3vh;
    left: -6vw;
  }
  .wrapper-2 {
    left: -8vw;
    top: 84vh;
    margin-bottom: 210px;
  }
  .button-group {}
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .main-head .logo {
    position: relative;
    left: 36vw;
    margin: 4vh;
  }
  .contact-group {
    position: relative;
    top: -3vh;
    left: -21vw;
  }
  .button-group {}
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .main-head .logo {}
  .contact-group {}
  .button-group {}
}

@media screen and (min-width: 1200px) {
  .main-head .logo {}
  .contact-group {}
  .button-group {}
}

/* 5. Animations */

.fade-in {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

}

}
